<%- include('includes/head.ejs') %>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some Error Occured!</h1>
    <p>Were working on fixing this, Sorry for the inconvience</p>
    <%- include('includes/end.ejs') %>